 <nav class="homenavbar">
    
      <img
        src="https://www.instagram.com/static/images/web/logged_out_wordmark.png/7a252de00b20.png"
        id="home-title"
        alt=""
      />
    
     
  <input
        type="search"
        placeholder="Search"
        results="0"
        id="searchbar-home"
      />
           <div class="rightside">
        <a href="/posts/home"> <i class="fa-solid fa-house space"></i></a>
       
        <i class="fa-regular fa-paper-plane space"></i>
        <a href="/posts/newpost">
          <i class="fa-regular fa-square-plus space"></i>
        </a>

        <i class="fa-regular fa-compass space"></i>
        <i class="fa-regular fa-heart  "></i>
        <a href="/posts/profile"><i class="fa-solid fa-user space"></i></a>
        <!-- change link to id  -->
        <!-- <span class="navbarusername"> @<%=user.username%></span> -->

      </div>
    
   
      <!-- <form action="/sessions?_method=DELETE" method="POST" >
			<input type="submit" value="Log Out" class="logout-btn" />
		</form> -->
    </nav>
