<%- include('header') -%>


		<h1>Create new post</h1>
		<form action="/post" method="POST">
            <input type="file" name="img" id="">
			<input type="text" name="caption" /><br />
			descrption: <input type="text" name="descrption" /><br />
			
			<input type="submit" value="Share" />
		</form>
<%- include('footer') -%>