<%- include('header') -%>


		<h1>Create new post</h1>
		<form action="/posts/" method="POST">
            <!-- <input type="file" name="img" id=""> -->
			<input hidden type="text" name="user" value="<%=user.username%>" readonly>
            <input hidden type="text" name="profileimage" value="<%=user.profileimage%>" readonly>
            <input type="text" name="img" placeholder="img url" />
			<input type="text" name="caption" placeholder="add a caption"/><br />
			<input type="submit" value="Share" />
		</form>
<%- include('footer') -%>