* {
  box-sizing: border-box;
  margin: 0 auto;
  background-color: #f7f7f7;
}

.signin-box {
  border: 1px solid #dfdfde;
  width: 400px;
  text-align: center;
  background-color: white;
  margin-top: 70px;
  height: 420px;
}
#second-box {
  border: 1px solid #dfdfde;
  width: 400px;
  text-align: center;
  background-color: white;
  margin-top: 7px;
  height: 70px;
  padding-top: 30px;
  font-weight: 100;
  font-size: medium;
}
#login-title {
  margin-top: 50px;
  margin-bottom: 10px;
  width: 200px;
  background-color: white;
  padding: 10px;
}
.userbox {
  background-color: #f7f7f7;
  border: 1px solid #dfdfde;
  margin-top: 10px;
  width: 300px;
  height: 36px;
  border-radius: 3px;
  padding-left: 5px;
}
#login-btn {
  margin-top: 10px;
  width: 300px;
  height: 36px;
  border: none;
  background-color: #9ad0ec;

  color: white;
  margin-bottom: 15px;
  border-radius: 3px;
}

#middleOR {
  border-radius: 15px;
  margin-bottom: 20px;
  overflow: hidden;
  text-align: center;
  color: #7f8487;
  background-color: white;
  width: 299px;
}

#middleOR:before,
#middleOR:after {
  background-color: #b2b1b9;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 50%;
}

#middleOR:before {
  right: 0.5em;
  margin-left: -50%;
}

#middleOR:after {
  left: 0.5em;
  margin-right: -50%;
}
#loginwithfacebook {
  margin-top: 30px;
  background-color: white;
  color: #243a73;
  font-size: 16px;
  margin-bottom: 20px;
}
#forgotpassword {
  color: #243a73;
  background-color: white;
  font-size: 15px;
}
a {
  text-decoration: none;
}
#signuplink {
  color: deepskyblue;
  text-decoration: none;
  background-color: white;
}
#signuplink a:visited {
  color: deepskyblue;
  text-decoration: none;
  background-color: white;
}
/* signin styling */
.homenavbar {
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
  border: 2px solid #ececec;
  height: 60px;
  z-index: 1;
  /* overflow: hidden; */
  /* background-color: #333; */
}
.rightside {
  float: right;
  font-size: 25px;
  margin-top: 10px;
  /* margin-left: 100px; */
  position: absolute;
  right: 0;

}
.space {
  padding-right: 30px;
}

.caption {
  color: black;
}
#home-title {
  margin-top: 15px;
  width: 110px;
  margin-left: 12px;
  padding: 6px;
  margin-bottom: 5px;
}
.home-posts {
  max-width: 500px;
  margin-top: 60px;
  text-align: center;
  border: 1px solid #ececec;
  background-color: white;
  padding: 5px;
}
#searchbar-home {
  background-color: #ececec;
  max-width: 350px;
  min-width: 270px;
  height: 40px;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
  padding-left: 20px;
  margin-right: 10px;
  padding-right: 10px;
  position: absolute;
  right: 580px;
}
/* .nav-right{

} */
.imagenav-home {
  background-color: white;
  text-align: left;
}

#bookmark-home {
  background-color: white;
  float: right;
  /* margin-left: 420px; */
}
#username-home {
  background-color: white;
  float: left;
  /* background-color: #9ad0ec; */
  margin-top: 15px;
}
.leftcontent-home {
  background-color: white;
  text-align: left;
}
.fa-ellipsis {
  background-color: white;
  float: right;
}
#userimage-home {
  background-color: white;
  width: 35px;
  height: 35px;
  margin: 5px;
  clip-path: circle();
  float: left;
}
.white-bg {
  background-color: white;
}
.home-images {
  max-width: 490px;
  background-color: white;
}
.user-home {
  font-weight: 900;
  background-color: white;
}

a:visited {
  color: black;
}

.like-btn {
  /* outline:none; */
  /* background: transparent; */
  border: 0px;
  /* padding: 0; */
  /* outline: 0; */
  float: left;
  font-size: 17px;
  background-color: white;
}
.fa-heart:hover {
  cursor: pointer;
}

details > summary {
  list-style: none;
  background-color: white;
}
details {
  background-color: white;
}

details > p {
  background-color: white;
  margin-left: 500px;
}
#delete-btn {
  border: 0px;
  margin-left: 490px;
}
#sure-home {
  margin-left: 490px;
}
#captionchange {
  width: 400px;
}

#login-form {
  background-color: white;
}
.register {
  height: 530px;
}
.signuptoview {
  background-color: white;
  color: #b2b1b9;
  width: 300px;
}

.logout-btn {
  border: none;
  position: absolute;
  right: 0;
}
.fa-user {
  margin-left: 20px;
}
a {
  color: black;
}



/* cards div */
.cards {
  display: flex;

  flex-wrap: wrap;

  margin-left: -8px;
  margin-right: -8px;

  
}

.cards__item {
  /* There will be 5 cards per row */
  flex-basis: 20%;

  padding-left: 8px;
  padding-right: 8px;
  
}
#profileimages{
width: 300px;
height: 300px;
}

.profile-hr{
  margin-bottom: 10px;
  margin-top: 40px;
}

.profile-header{
  margin: 0 auto;
  display: grid;
   grid-template-columns: 200px 100px;
    grid-template-rows: 100px 50px 50px;
    grid-template-areas:
    "i h" 
    "i e"
    "i b ";
  /* justify-content:end */
}
#profileimage{
  clip-path: circle();
  width: 200px;
  height: 200px;
  /* margin-left: 0px; */
  grid-area: i;
  margin-bottom: 20px;
  margin-left: 20px;
}
#username-greeting{
  /* margin-left: -100px; */
  grid-area: h;
  margin-left: 50px;
  
}
#editprofilebutton{
  grid-area: e;
   margin-left: 50px;
 
}
#fullnameprofile{
  grid-area: b;
   margin-left: 50px;
}

@media only screen and (max-width: 800px) {
  .navbarusername{
display: none;
  }

}

#logoutprofile{
  float: right;
  position: absolute;
  right: 14px;
}

@media only screen and (max-width: 1000px) {
#searchbar-home{

  display: none;
}
}