* {
  box-sizing: border-box;
  margin: 0 auto;
  background-color: #f7f7f7;
}

.signin-box {
  border: 1px solid #dfdfde;
  width: 450px;
  text-align: center;
  background-color: white;
  margin-top: 70px;
  height: 420px;
}
#second-box{
    border: 1px solid #dfdfde;
  width: 450px;
  text-align: center;
  background-color: white;
  margin-top: 7px;
  height: 70px;
  padding-top: 30px;
}
#login-title {
  margin-top: 50px;
  margin-bottom: 30px;
  width: 200px;
  background-color: white;
}
.userbox {
  background-color: #f7f7f7;
  border: 1px solid #dfdfde;
  margin-top: 10px;
  width: 300px;
  height: 36px;
  border-radius: 3px;
  padding-left: 5px;
}
#login-btn {
  margin-top: 10px;
  width: 300px;
  height: 36px;
  border: none;
  background-color: #9ad0ec;

  color: white;
  margin-bottom: 10px;
  border-radius: 3px;
}

#middleOR {
  border-radius: 15px;
  margin-bottom: 20px;
  overflow: hidden;
  text-align: center;
  color: #aaaaaa;
  background-color: white;
  width: 299px;
}

#middleOR:before,
#middleOR:after {
  background-color: #b2b1b9;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 50%;
}

#middleOR:before {
  right: 0.5em;
  margin-left: -50%;
}

#middleOR:after {
  left: 0.5em;
  margin-right: -50%;
}
#loginwithfacebook{
    margin-top: 30px;
    background-color: white;
    color: #243A73;
    font-size: 16px;
    margin-bottom: 20px;
}
#forgotpassword{
color: #4B7BE5;
background-color: white;
font-size: 15px;
}
