<%- include('../header.ejs') -%>


<div class="signin-box">
        <img src="https://www.instagram.com/static/images/web/logged_out_wordmark.png/7a252de00b20.png"  id="login-title" alt="">
    <br>

    <form action='/sessions' method='POST' id="login-form">

    <input type="text" name="email" id="email" class="userbox" placeholder="Phone number, username, or email">
    <br>
    <input type="password" name="password" id="password" class="userbox" placeholder="Password">
    <br>
    <a href="/posts/home">
 <button type="submit" id="login-btn">Log In</button>
 </form>

 
    </a>
   
    <p id="middleOR">OR</p>

    <h3 id="loginwithfacebook">    <i class="fa-brands fa-facebook-square"></i> Log in with Facebook</h3>
    <span id="forgotpassword">Forgot password?</span>
</div>

<div>
    <h3 id="second-box">Dont have an account? <span id="signuplink"><a href="/users/new">Sign up</a></span></h3>
</div>


<%- include('../footer') -%>